.card {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  border: 2px solid #0079d3;
  margin: 20px;
  display: block;
}

.card:hover {
  background-color: #eee
}

.infobox {
  padding: 2px 16px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
